h1{
    text-align: center;
    font-size: 350px; 
    margin: 0%;
    background-color: #F2F2F2;
    
    
}
h2{
    text-align: center;
    font-size: 75px;
    margin: 0%;
     background-color: #F2F2F2;
}
img{
    width: 100%;
    height: 275px
     
}
body{
    margin: 0%;
     background-color: #F2F2F2;
}


p{
 text-align: center;
 font-size: 50px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: black;
  background-color: #F2F2F2;
}

div{
   text-align: center;

}
h3{
   text-align: center;
   font-size: 50px;
   margin: 30px 0;

    
}
.local-contenedor{
    display: flex;
    gap: 20px;
    width: 100%;
}
.foto-local{
    width: 50%;
    height: 300px;
    object-fit: cover;
}
.mapa{
    width: 50%;
    height: 300px;
    border: 0;
}
.descripcion{
    background-image: url(logosombra.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 200px;
}
.titulo-local{
    font-size: 100px;
    text-align: center;
}
.precios{
    text-align: center;
    font-size: 75px;
}

.turnos{
    text-align: center;
    font-size: 75px;
}
.comun{
    font-size: 80px;
    text-align: left;
}
.nose{
    width: 50%;
    object-fit: cover;
    height: 400px;
    margin-right: 50px;
}
.nose{
    display: flex;
    
    
   
}
.comuncito{
    width: 50%;
    height: 375px;
}

.precio1{
    font-size: 100px;
    font-weight: bold;
    margin-left: 75px;
    padding-left: 
    
    
}
.niño-contenedor{
    width: 50%;
    display: flex;
    align-items: center;
}
.foto-niño{
    display: flex;
    width: 70%;

}
.foto-niño img{
    width: 50%;
    height: 300px;
    object-fit: cover;
}
.precio-niño{
    font-size: 100px;
    font-weight: bold;
    margin-left: 75px;
    padding-left:
}
.niño{
    text-align: left;
    font-size: 80px;
}
.barba{
    text-align: left;
    font-size: 80px;
}


.contenedor-barba {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0;
    justify-content: flex-start;
}

.foto-barba {
    width: 70%;
    display: flex;
    margin: 0;
}

.foto-barba img {
    width: 50%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.precio-barba {
font-size: 100px;
    font-weight: bold;
    text-align: left;
    margin-left: -400px;
    padding-left:     
}









.corteybarba{
    text-align: left;
    font-size: 80px;
}


.contenedor-corteybarba {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0;
    justify-content: flex-start;
}

.foto-corteybarba {
    width: 70%;
    display: flex;
    margin: 0;
}

.foto-corteybarba img {
    width: 50%;
    height: 480px;
    object-fit: cover;
    display: block;
}

.precio-corteybarba {
font-size: 100px;
    font-weight: bold;
    text-align: left;
    margin-left: -400px;
    padding-left:     
}

















.corteybarbajubilado{
    text-align: left;
    font-size: 80px;
}


.contenedor-corteybarbajubilado {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0;
    justify-content: flex-start;
}

.foto-corteybarbajubilado {
    width: 70%;
    display: flex;
    margin: 0;
}

.foto-corteybarbajubilado img {
    width: 50%;
    height: 480px;
    object-fit: cover;
    display: block;
}

.precio-corteybarbajubilado {
font-size: 100px;
    font-weight: bold;
    text-align: left;
    margin-left: -400px;
    padding-left:     
}













.claritosymechas{
    text-align: left;
    font-size: 80px;
}


.contenedor-claritosymechas {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0;
    justify-content: flex-start;
}

.foto-claritosymechas {
    width: 70%;
    display: flex;
    margin: 0;
}

.foto-claritosymehcas img {
    width: 70%;
    height: 480px;
    object-fit: cover;
    display: block;
}

.precio-claritosymecha {
font-size: 100px;
    font-weight: bold;
    text-align: left;
    margin-left: -100px;
    padding-left:     
}











.promociones {
    margin-left: 30px;
    font-size: 200px;
}

.promociones h4 {
    font-size: 150px;
    margin: 0 0 20px 0;
    
}

.promociones p {
    font-size: 85px;
    margin: 10px 0;
    
}

.agendar{
    font-size: 70px;
    text-align: center;
     background-color: #F2F2F2;
}
@media (max-width: 600px) {

    body {
        width: 100%;
        overflow-x: hidden;
    }

    h1 {
        font-size: 50px !important;
    }

    h2 {
        font-size: 35px !important;
    }

    p {
        font-size: 20px !important;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .contenedor-claritosymechas {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .foto-claritosymechas {
        width: 50%;
    }

    .foto-claritosymechas img {
        width: 100%;
        height: auto;
    }

    .precio-claritosymecha {
        font-size: 30px !important;
        margin-left: 20px;
    }
    .contenedor-claritosymechas {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.foto-claritosymechas {
    width: 100%;
}

.foto-claritosymechas img {
    width: 100%;
    height: auto;
}

.precio-claritosymecha {
    font-size: 30px !important;
    margin-left: 0;
}

}




